.workspace_element_root{
    width: 250px;
    height: 80px;
    padding: 5px 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    cursor: pointer;
    transition: transform 0.2s linear;
  }
  .workspace_element_root:hover{
    transform: scale(1.1);
  }
  .workspace_element_header{
    padding: 0px 10px;
    width: calc(100% - 20px);
  }
  .workspace_element_header > span{
    font-family: Pretendard;
    font-size: 0.9rem;
    font-weight: 700;
  }
  .workspace_info_container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .workspace_admin{
    padding: 0px 10px;
    width: calc(100% - 20px);
  }
  .workspace_admin > span{
    font-family: Pretendard;
    font-size: 0.7rem;
  }
  .created_date {
    margin-top: 5px;
    padding: 0px 10px;
    width: calc(100% - 20px);
  }
  .created_date > span{
    font-family: Pretendard;
    font-size: 0.7rem;
    color: #eaeaea;
  }