.chat_message_element_root{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 1px solid transparent;
    background-color: #131319;
    transition: border 0.3s ease;
}
.chat_message_element_root:hover{
    border: 1px solid #FE6B8B;
    border-radius: 12px;
    background-color: #15141a;
}

.user_avartar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user_avartar > img{
    width: 100%;
    height: 100%;
}

.user_info{
    display: flex;
    gap: 10px;
    width: 100%;
}
.author{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}
.author > span:first-child{
    font-family: Pretendard-Bold;
    font-size: 1rem;
    color: #ffffff;
}
.author > span:last-child{
    font-family: Pretendard;
    font-size: 0.75rem;
    color: #eaeaea;
}
.chatlog_container{
    margin-top:8px;
    width: 100%;
}
.chatlog_container > span{
    font-family: Pretendard;
    font-size: 0.75rem;
    color: #ffffff;
}